.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    .logoBox{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 12px 0;

        span{
            font-weight: 900;
            font-size: 16px;
            line-height: 25px;
            color: #C2123C;
            margin-right: 8px;
        }
    }

    .navbar{
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .leftBox{
        display: flex;
        align-items: center;
    }


    .inputBox{
        position: relative;

        input{
            width: 254px;
            height: 48px;
            padding: 0 12px;
            background-color: #F7F7F7;
            border-radius: 32px;
            border: none;

            &:hover{
                outline: 0.4px solid #E0E0E0;
            }

            &:focus{
                outline: 1px solid #C2123C;
            }
        }

        svg{
            position: absolute;
            left: 12px;
            top: calc(50% - 10px);
        }
    }

    .shoppingCartIcon {
        fill: black;
        margin: 0 16px;

        &:hover {
                // fill: linear-gradient(252.18deg, #D72339 0.28%, #F23B51 93.8%) !important;
                color: red;
            }

    }
    
    .loginBtn{
        padding: 8px 24px;
        width: 126px;
        height: 48px;
        background: linear-gradient(252.18deg, #D72339 0.28%, #F23B51 93.8%);
        border-radius: 24px;
        border: none;
        color: white;
        font-weight: 700;
        font-size: 14px;
        transition: all 1s ease-out;
        margin: 0 4px;
        
        &:hover{
            background: linear-gradient(239.65deg, #CE273B 14.24%, #F23B51 126.89%);
        }
    }

}
