.amazingOffersBigCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #F7F7F7;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    height: 100%;

    .fireLabel{
        position: absolute;
        top: 0;
        left: 12px;
    }

    .title{
        font-weight: 900;
        font-size: 16px;
        line-height: 25px;
        color: #282828;
        align-self: self-start;
    }

    .price{
        font-weight: 900;
        font-size: 20px;
        line-height: 31px;
        color: #333333;
    }

    .toman{
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        color: #4F4F4F;
        align-self: flex-end;
    }
}