.amazingOffersSmallCard{
    display: flex;
    align-items: center;
    padding: 12px;
    background: #F7F7F7;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    
    .fireLabel {
        position: absolute;
        top: 0;
        left: 12px;
    }

    .productInfo{
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .title{
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #333333;
    }

    .price{
        font-weight: 900;
        font-size: 18px;
        line-height: 28px;
        text-align: right;
        color: #333333;
    }

    .toman{
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        color: #4F4F4F;
        align-self: flex-end;
    }

    .discountBox{
        display: flex;
        justify-content: space-between;
    }


    .previousPrice {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-decoration-line: line-through;
        color: #BDBDBD;

    }

    .discountPercent{
        padding: 4px 12px;
        background: linear-gradient(252.18deg, #D72339 0.28%, #F23B51 93.8%);
        border-radius: 80px;
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
    }
}