.footer{
    padding-top: 48px;

    p{
        margin-bottom: 0;
    }

    hr{
        border-top: 1px solid #AB8BD1;
        margin-bottom: 12px;
    }

    .copyRight {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #474747;
        margin-bottom: 22px;
    }
    
}