@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("./assets/font/IRANSansWeb.eot");
  src: url("./assets/font/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */
    url("./assets/font/IRANSansWeb.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
    url("./assets/font/IRANSansWeb.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("./assets/font/IRANSansWeb.ttf") format("truetype");
}

*{
  direction: rtl;
  font-family: IRANSans !important;
}

